<!DOCTYPE html>
{% load  static %}
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >   
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> 
</head>
<body>

{% if user.is_authenticated %}
    <h2>Welcome, {{ user.username }}</h2>
    <p> hello </p>

    <a href="{% url 'logout' %}">Logout<i class="fa-notdog-duo fa-solid fa-arrow-right-from-bracket"></i></a>
{% else %}
    <h2>Welcome Guest</h2>
    <a href="{% url 'login' %}">Login <i class="fa-solid fa-user-key"></i> </a>
    <a href="{% url 'register' %}">Register</a>
   

{% endif %}

</body>
</html>
