<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> 
    <title>Document</title>
</head>
<body>
    <div class="tasklist-container">
        <div class="task-header">
            <img src="/media/tasks/todo.webp" alt="mimi logo" width="150" class="task-image">
            <h1>Task list</h1>
        </div>    

        <div class="task-form-card">
            <form method="Task" action="{% url 'task_add' %}" encrypt="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">Add Task</button>
            
           
                {% for Task in Tasks %}
                    <div>
                        <h2>{{ Task.title }}</h2>
                        {% if Task.image %}
                        <img  src="{{ Task.image.url }}" alt="{{ Task.title }}" width="250">
                        {% endif %}   
                    </div>
                {% endfor %}
  
                <ul>
                    {% for task in tasks %}
                        <li>
                            <div style="max-width: 40px;">
                                {% if task.image %}
                                <img style="max-width: 60px;" src="{{task.image.url}}" alt="">
                                {% endif %}
                        
                                <a href="{% url 'task_add' %}">Add task</a> 
                            </div>
                            <div>
                                {{ task.title }}  {{ task.description }} (: {{ task.completed }})
        
                            </div>
                            <div class="icons">
                                <a href="{% url 'task_update' task.id %}">update<i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'task_delete' task.id %}">delete<i class="fa-solid fa-trash"></i></a>  
                            </div>   

                        </li>
                    {% endfor %} 
                </ul>  
            </form>  
                <a href="{% url 'task_add' %}">Add task</a> 
        </div>   
    </div>         

</body>
</html>