<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>update</h1>
    <form action="{% url 'task_update' task.id %}" method="Task" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">title:</label>
        <input type="text" name="title" value="{{ task.title}}" required><br><br>
        
        <label for="description">description:</label>
        <input type="text" name="description" value="{{ task.description}}" required><br><br>
        
        <label for="completed">completed:</label>
        <input type="checkbox" name="completed" id="">Tick<br>
        <input type="checkbox"  name="completed" id="" checked>empty<br><br>
    
        <label for="image">Image:</label>
        <input type="file" name="image" accept="image/*"><br><br>
        <button type="submit">Save changes</button>
        <a href="{% url 'task_list' %}">Cancel</a>
        {% if form.errors %}
            <div class="errors">
                {{ form.errors }}
            </div>
        {% endif %}
</body>
</html>